@model SeyahatSitesi.Models.Class.BlogYorum

<div class="padding1">
    <h4>Tavsiye Edilen Yerler</h4>
    <div class="box-left">


        @foreach (var x in Model.Deger5)
        {
            if (x.Id > 0 && x.Id < 5)
            {
                <div class="bot-img">
                    <a href="/Home/Blog/@x.Id">  <img src="~/assets/images/@x.BlogImage" alt="" /></a>
                  
                </div>
                <div class="bot-desc">
                    <p>@x.Text.Substring(0,80) </p>
                </div>
                <div class="clear"></div>
            }


            


        }
    </div>
    <div class="box1-left">


        @foreach (var x in Model.Deger5)
        {
            if (x.Id > 4 && x.Id < 9)
            {
                <div class="bot-img">
                    <a href="/Home/Blog/@x.Id">  <img src="~/assets/images/@x.BlogImage" alt="" /></a>
                </div>
                <div class="bot-desc1">
                    <p>@x.Text.Substring(0,80) </p>
                </div>
                <div class="clear"></div>
            }




        }
    </div>


    @*<div class="box1-left">
    <div class="bot-img">
    <img src="~/assets/images/pic9.jpg" alt="" />
    </div>
    <div class="bot-desc1">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
    </div>
    <div class="clear"></div>
    <div class="bot-img">
    <img src="~/assets/images/pic10.jpg" alt="" />
    </div>
    <div class="bot-desc1">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
    </div>
    <div class="clear"></div>
    <div class="bot-img">
    <img src="~/assets/images/pic3.jpg" alt="" />
    </div>
    <div class="bot-desc1">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet </p>
    </div>
    <div class="clear"></div>
    </div>*@
</div>